@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C2333;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  scrollbar-color: oklch(100% 0.00011 271.152 / 0.284) transparent;
}

/* primereact-scrollbar */
.p-scrollpanel .p-scrollpanel-bar {
  background: oklch(100% 0.00011 271.152 / 0.284);
  border: 0 none;
}

.p-scrollpanel-bar-y {
    width: 0.3rem;
    top: 0;
}


 /* PrimeReact DataTable Customization*/

/* Header background and text color */
.p-datatable .p-datatable-thead > tr > th {
  background: #1e293b; /* A darker gray */
  color: #ffffff;
}

/* All row background and text color */
.p-datatable .p-datatable-tbody > tr {
  background: #1a202c; /* Even darker blue-gray */
  color: #e2e8f0;
}

/* Row hover effect */
.p-datatable .p-datatable-tbody > tr:hover {
  background: #334155; /* Your theme's primary purple */
  color: #ffffff;
}

/* Selected row color (if you use selection) */
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #1C2333;
  color: #ffffff;
}

/* PrimeReact Paginator Customization */

/* Paginator container */
.p-paginator {
  background: #1a202c;
  color: #e2e8f0;
  border: 1px solid #1a202c;
  border-top: 0;
  border-radius: 0 0 6px 6px;
}

/* Paginator buttons (pages, next, prev, etc.) */
.p-paginator .p-paginator-element {
  color: #94a3b8;
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

/* Hover state for paginator buttons */
.p-paginator .p-paginator-element:not(.p-disabled):hover {
  background: #334155;
  color: #ffffff;
}

/* Active page button */
.p-paginator .p-paginator-element.p-highlight {
  background: #334155;
  color: #ffffff;
  font-weight: bold;
}

/* Rows per page dropdown */
.p-paginator .p-dropdown {
  background: #1a202c;
  border: 1px solid #4a5568;
  height: 2.5rem;
  border-radius: 6px;
}

/* Paginator Dropdown Panel */
.p-dropdown-panel {
  background: #1e293b;
  border: 1px solid #4a5568;
}

/* Paginator Dropdown Items */
.p-dropdown-panel .p-dropdown-item {
  color: #f1f5f9;
}

/* Hover state for dropdown items */
.p-dropdown-panel .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #334155;
  color: #f1f5f9;
}

/* Highlighted/selected dropdown item */
.p-dropdown-panel .p-dropdown-item.p-highlight {
  background: #334155;
  color: #f1f5f9;
}
